.artwork {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgb(81, 81, 81);  
    color: rgb(80, 80, 80);
} 

.artworkInner {  
    width: 100%; 
    height: 100%;
    overflow: scroll;
    cursor: initial;
}

.label{
    width: 50vw;
    padding: 2vw;
    padding-bottom: 5vh;
    margin: 0 auto;
    margin-top: 65vh;
    background: rgba(255,255,255,0.8); 
}

.description{
    width: 50vw;
    height: 30vh;
    margin: 0 auto;
    padding: 2vw;
    padding-bottom: 20vh;
    color: rgb(80, 80, 80);
    background: rgba(255,255,255,0.8); 
}

p{
    font-size: 1.5vw;
    font-weight: lighter;
}

.artwork-img{
    position: fixed;  
    height: 65%; 
    z-index: -1;
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;
}

.artwork-close{
    border: 2px solid rgb(80, 80, 80);
    width: 3.5vw;
    margin-top: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5vw;
}

.artwork-close:hover{
    cursor: pointer;
    transition: all 0.5s ease;
    color: rgba(255,255,255,0.8);
    background-color: cornflowerblue;
    border: 2px solid cornflowerblue;
}