
.menu{
  /* padding-top: 0.5vw;
  padding-bottom: 0.5vw; */
  margin: 0.5vw;
  padding: 0.5vw;
  /* font-size: 16px; */
  font-size: calc(0.1vw+0.5em);
  border: 2px solid rgb(80, 80, 80);
  display: inline-flex;
}

.menu:hover{
  cursor: pointer;
  transition: all 0.5s ease;
  color: white;
}

#menu-home:hover{
  background-color: rgb(80, 80, 80);
  border: 2px solid rgb(80, 80, 80);
}

#menu-sec1:hover{
  background-color: rgb(118, 177, 235);
  border: 2px solid rgb(118, 177, 235);
}

#menu-sec2:hover{
  background-color: rgb(135, 137, 225);
  border: 2px solid rgb(135, 137, 225);
}

#menu-sec3:hover{
  background-color: rgb(255, 162, 0);
  border: 2px solid rgb(255, 162, 0);
}

.App {
  width: 100vw;
}

header{
  position: fixed;
  right: 10vw;
  bottom: 2vw;
  width: 40%;
  color: rgb(51, 51, 51);
  background: rgba(255,255,255,0.8); 
  box-shadow: 1px 2px 3px rgba(255,255,255,0.9); 
  /* z-index: -1; */
}


ul{
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  color:inherit;
}

