.sec3-artworks{
    width: 40vw;
    height: 30vh;
    float: right;
    margin-right: 8vw;
    margin-top: 10%;
}

.sec3-titles{
    width: calc(34vw/3);
    height: calc(34vw/3);
    margin: 1vw;
    background-color: rgb(81, 81, 81);
    color: rgb(81, 81, 81);
    font-size: calc(0.1vw + 1em);
    font-weight: bolder;
    display: inline-flex;
}

.sec3-expand{
    font-size: calc(0.1vw + 1em);
}

.sec3-artContainer{
    width: 100%;
    height: 100%;
}

.sec3-titles:hover{
    color: rgb(255, 162, 0);
    background-color: rgb(255, 162, 0);
    cursor: pointer;
    transition: all 0.5s ease;
}

.sec3-expand{
    margin-top: 25%;
    width: 90%;
    height: 50%;
    background-color: rgba(255,255,255,0.8); 
}

.plan-img{
    position: fixed;  
    height:100%; 
    z-index: -1;
    top: 0;  
    left: 10vw;  
}
  